fieldset{
    margin: 60px 20px 0px 20px;
    color: blue;
    border-color: blue;
}
legend{
    margin-bottom: 15px;
}
form label{
    margin-left: 3%;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]), textarea{ /***selector de atributo****/
    margin: auto;
    padding: 1rem;
    display: block;
    width: 92.5%;
    background-color: #00f3bb;
    border: none;
    margin-bottom: 1.5rem;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
}
.flexfoot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    background: #ffffff;
    margin: 25px 6.9%;
    width: 100%;
}
.i-footer{
    width: 25%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.i-footer a>img{
    width: 16px;
    height: 28px;
    margin-left: 50px;
}
.i-footer i{
    color: #000000;
}

@media screen and (max-width:1024px){
    .flexfoot{
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80px;
        justify-content: center;
        margin: 15px;
    }
    .i-footer{
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
    }
    .i-footer a>img{
        margin-top: 10px;
        width: 16px;
        height: 28px;
    }
}